<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Remark distribution for tickets</title>
  <link type="text/css" rel="stylesheet" href="/ruletool.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      
    <script src="/scripts.js" type="text/javascript"></script>
</head>
<body>
  <h3>Remark distribution for tickets</h3>
  
  <table border="1" class="dataTable">
    <tr>
      <th>Ticket</th>
      <th th:each="col : ${columns}"><a th:href="'?sort='+${col}+'&amp;oldSort='+${sortedCol}" th:text="${col}"></a></th>
    </tr>
    <tr th:each="rec : ${records}" onclick="highlightRow(this)">
      <td><a th:href="'/ticket/'+${rec.ticket}" th:text="${rec.ticket}" target="_blank">Ticket</a></td>
      <td th:each="col : ${columns}" th:text="${rec.getValue(col)}"></td>
    </tr>
  </table>

</body>
</html>
