<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Remarks</title>
</head>
<body>
  <table border="1" class="dataTable" th:fragment="remarkTable(records)">
    <tr>
      <th>Ticket</th>
      <th>Commit</th>
      <th>File</th>
      <th>Line</th>
      <th></th>
    </tr>
    <tr th:each="rec : ${records}" onclick="highlightRow(this)">
      <td><a th:href="'/ticket/'+${rec.ticket}" th:text="${rec.ticket}" target="_blank">Ticket</a></td>
      <td><a th:href="'/commit/'+${rec.commit}" th:text="${rec.commit}" target="_blank">Commit</a></td>
      <td><a th:href="'/diff/'+${rec.commit}+'/'+${rec.file}+'?line='+${rec.line}+'&amp;side=old'" th:text="${rec.file}" target="_blank">File</a></td>
      <td th:text="${rec.line}">Line</td>
      <td><a th:onclick="|showTriggersForRemark('${rec.idString}')|">Show triggers</a></td>
    </tr>
  </table>

</body>
</html>
