<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Triggers</title>
</head>
<body>
  <table border="1" class="dataTable" th:fragment="triggerTable(columns, records)">
    <tr>
      <th>ID</th>
      <th th:each="col : ${columns}" th:text="${col}"></th>
    </tr>
    <tr th:each="rec : ${records}" onclick="highlightRow(this)">
      <td><a th:href="'/analyzeDataPointDetails.html?id='+${rec.id}" th:text="${rec.ticket}" target="_blank">Ticket</a></td>
      <td th:each="col : ${columns}" th:text="${rec.getValue(col)}"></td>
    </tr>
  </table>

</body>
</html>
