<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Triggers</title>
  <link type="text/css" rel="stylesheet" href="ruletool.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      
    <script src="/scripts.js" type="text/javascript"></script>
</head>
<body>
  <h3 th:inline="text">Triggers</h3>
  
  Missed triggers for
  <div th:if="${selection} == ''">
    <pre th:inline="text">[[${rule}]]</pre>
  </div>
  <div th:unless="${selection} == ''">
    <pre th:inline="text">[[${selection}]]</pre>
    in
    <pre th:inline="text">[[${rule}]]</pre>
  </div>
  
  <div th:replace="triggerTable :: triggerTable(${columns}, ${records})"/>

</body>
</html>
