<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Remarks</title>
  <link type="text/css" rel="stylesheet" href="ruletool.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      
    <script src="/scripts.js" type="text/javascript"></script>
</head>
<body>
  <h3 th:inline="text">Trigger IDs</h3>
  
  Potential triggers for <pre th:inline="text">[[${remarkId}]]</pre>
  
  <table border="1" class="dataTable">
    <tr>
      <th>Ticket</th>
      <th>Commit</th>
      <th>File</th>
      <th>Line</th>
    </tr>
    <tr th:each="rec : ${records}" onclick="highlightRow(this)">
      <td><a th:href="'ticket/'+${rec.ticket}" th:text="${rec.ticket}" target="_blank">Ticket</a></td>
      <td><a th:href="'commit/'+${rec.commit}" th:text="${rec.commit}" target="_blank">Commit</a></td>
      <td><a th:href="'diff/'+${rec.commit}+'/'+${rec.file}+'?line='+${rec.line}" th:text="${rec.file}" target="_blank">File</a></td>
      <td th:text="${rec.line}">Line</td>
    </tr>
  </table>

</body>
</html>
